{% extends "headfoot.html" %}
{% block styles %}
<style>
    .article-top{
        padding-top: 20px;
    }
    .myelt{
        position:fixed;
        z-index:1;
    }
</style>
{% endblock %}
{% block scripts %}
<script charset="utf-8" src="/static/js/release_apply/add.js"></script>
{% endblock %}
{% block content %}
{% import "header.html" as header %}
{{ header.render() }}
<div id="main-content">
    <div id="goodnews" class="hide myelt">
        <i class="icon-ok"></i>
        <div class="content">恭喜！上线申请已提交成功！3秒后将会跳转到上线申请详情页！</div>
    </div>
    <div id="badnews" class="hide myelt">
        <i class="icon-times"></i>
        <div class="content"></div>
    </div>

    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li> <a href="/"><i class="icon icon-home"></i> 主页</a> </li>
            <li> <a id="parent-bread" href="/">发布系统</a> </li>
            <li id="children-bread" >新建上线申请</li>
        </ul>
    </div>

    <div id="page-content">
        <div class="page-header">
            <h1> 新建上线申请 </h1>
        </div>
        <article class="article-top">
            <div class="col-md-11">
                <form class="form-horizontal" role="form" method="post">
                    <div class="form-group">
                        <label class="col-md-2 control-label">标题</label>
                        <div class="col-md-5 ">
                            <input type="text" name="release_title" id="release_title" class="form-control" value="{{ releaseapply_data.title }}">
                        </div>
                        <label class="col-md-1 control-label">开发人员</label>
                        <div class="col-md-2">
                            <input disabled type="text" name="developer" id="developer" value="{{ session['user_data']['username'] }}" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">选择应用</label>
                        <div class="col-md-5 ">
                            <select name='release_app' id='release_app' class='form-control'>
                                 <option value="{{ releaseapply_data.application_id }}">{{ releaseapply_data.application.name }}</option>
                                {% for application in application_list %}
                                <option value="{{ application.id }}">{{ application.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label class="col-md-1 control-label">产品经理</label>
                        <div class="col-md-2">
                            <select name='producter' id='producter' class='form-control'>
                                <option value="{{ releaseapply_data.producter_id }}">{{ releaseapply_data.producter.username }}</option>
                                {% for producter in producter_list %}
                                <option value="{{ producter.user_id }}">{{ producter.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label id="git_url_dict" class="col-md-1 control-label hide">{{application_dict}}</label>
                        <label class="col-md-2 control-label">git地址</label>
                        <div class="col-md-5"> <input type="text" disabled name="git_url" id="git_url" value="{{ releaseapply_data.application.git_url }}" class="form-control"> </div>
                        <label class="col-md-1 control-label">测试人员</label>
                        <div class="col-md-2">
                            <select name='tester' id='tester' class='form-control'>
                                <option value="{{ releaseapply_data.tester_id }}">{{ releaseapply_data.tester.username }}</option>
                                {% for tester in tester_list %}
                                <option value="{{ tester.user_id }}">{{ tester.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">

                        <label class="col-md-2 control-label">计划上线时间</label>
                        <div class="col-md-2">
                            <div class="input-group date form-datetime" id="datetime" data-date="" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                <input class="form-control" size="16" type="text" name="release_time" id="release_time" value="{{ releaseapply_data.planned_at }}" readonly="">
                                <!--<span class="input-group-addon"><span class="icon-remove"></span></span>-->
                                <span class="input-group-addon"><span class="icon-calendar"></span></span>
                            </div>
                        </div>
                        <label class="col-md-1 control-label">发布级别</label>
                        <div class="col-md-2 ">
                            <select name='release_class' id='release_class' class='form-control'>
                                <option value="{{ releaseapply_data.deploy }}">{{ releaseapply_data.deploy }}</option>
                                <option value="常规发布">常规发布</option>
                                <option value="紧急发布">紧急发布</option>
                                <option value="临时发布">临时发布</option>
                            </select>
                        </div>
                        <label class="col-md-1 control-label">发布方式</label>
                        <div class="col-md-2">
                            <select name='release_way' id='release_way' class='form-control'>
{#                                <option value="{{ releaseapply_data.release_type }}">{{ releaseapply_data.release_type }}</option>#}
                                <option value="手动发布">手动发布</option>
{#                                <option value="自动发布">自动发布</option>#}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">wiki链接</label>
                        <div class="col-md-5"> <input type="text" name="wiki_url" id="wiki_url" class="form-control" placeholder="如有wiki链接，请填写" value="{{ releaseapply_data.wiki_url }}"></div>
                        <label class="col-md-1 control-label">风险级别</label>
                        <div class="col-md-2 ">
                            <select name='risk_level' id='risk_level' class='form-control'>
                                <option value="{{ releaseapply_data.risk_level }}">{{ releaseapply_data.risk_level }}</option>
                                <option value="低">低</option>
                                <option value="中">中</option>
                                <option value="高">高</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">jira链接</label>
                        <div class="col-md-5 "> <input type="text" name="jira_url" id="jira_url" class="form-control" placeholder="如有jira链接，请填写" value="{{ releaseapply_data.jira_url  }}"> </div>
                        <label class="col-md-1 control-label">版本号</label>
                        <div class="col-md-2">
                            <input type="text" name="version" id="version" value="{{ releaseapply_data.version }}" class="form-control" placeholder="分支名或tag名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-9">
                            <table class="table table-bordered" >
                                <tbody>
                                    <tr>
                                        <th colspan="2" style="text-align:center">标题</th>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">修改模块：</th>
                                        <th><input type="text" name="model_modified" id="model_modified" class="form-control" value="{{ releaseapply_data.update_model  }}"></th>
                                    </tr>
                                    <tr>
                                        <th>注意事项：</th>
                                        <th><input type="text" name="attension" id="attension" class="form-control" value="{{ releaseapply_data.attention  }}"></th>
                                    </tr>
                                    <tr>
                                        <th>修改内容：</th>
                                        <th><textarea id="content_modified" rows="10" class="form-control">{{ releaseapply_data.update_content }}</textarea></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-1"></div>
                        <div class="col-md-9">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th style="text-align:center">测试环境说明</th>
                                    </tr>
                                    <tr>
                                        <th><textarea id="explanation" rows="5" class="form-control" autofocus>{{ releaseapply_data.memo }}</textarea></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-8 control-label"></label>
                        <div class="checkbox col-md-1">
                            <label>
                                <input type="checkbox" name="self_test" id="self_test" value="1">已自测
                            </label>
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="submit" class="btn btn-primary disabled" value="提交申请" data-loading="稍候...">
                        </div>
                    </div>
                </form>
            </div>
        </article>
    </div>
</div>
{% endblock %}