{% extends "headfoot.html" %}
{% block styles %}
<link href="/static/css/worksheet/details.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
<!--<script charset="utf-8" src="/static/js/worksheet/details.js"></script>-->
{% endblock %}
{% block content %}
{% import "header.html" as header %}
{{ header.render() }}
<div id="main-content">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li>
                <a href="/"><i class="icon icon-home"></i> 主页</a>
            </li>
            <li>
                <a id="parent-bread" href="/">发布系统</a>
            </li>
            <li id="children-bread">发布详情</li>
        </ul>
    </div>
    <div id="page-content">
        <div class="page-header">
            <h1>
                发布详情
            </h1>
        </div>
        <article class="article-top article">
            <header>
                <dl class="dl-inline">
                    <dt>类型：</dt>
                    <dt>期望完成时间：</dt>
                </dl>
            </header>
            <div class="ant-steps article-top">
             <div class="ant-steps-item {% if step < 1 %}  ant-steps-status-wait {% elif step == 1 %}ant-steps-status-process {% elif step >1 %} ant-steps-status-finish {% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">1</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">申请</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
                <div class="ant-steps-item {% if step <3 %}  ant-steps-status-wait{% elif step ==3 %}ant-steps-status-process {% elif step > 3 %} ant-steps-status-finish{% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">2</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">审批</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
                <div class="ant-steps-item {% if step < 4 %}ant-steps-status-wait{% elif step ==4 %}ant-steps-status-process {% elif step > 4 %} ant-steps-status-finish {% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">3</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">构建</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
                <div class="ant-steps-item {% if step < 5 %}ant-steps-status-wait  {% elif step == 5 %}ant-steps-status-process {% elif step > 5 %} ant-steps-status-finish{% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">4</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">测试</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
                <div class="ant-steps-item {% if step < 6  %}ant-steps-status-wait {% elif step ==6 %}ant-steps-status-process {% elif step > 6 %} ant-steps-status-finish {% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">5</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">发布</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
                <div class="ant-steps-item {% if step < 7 %}ant-steps-status-wait {% elif step ==7 %}ant-steps-status-process {% endif %}" style="width: 150px;">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">6</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">完成</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
{#                <button id="worksheet_id" class="hide">{{ worksheet_data.worksheet_id}}</button>#}
{#                <div class="ant-steps-item ant-steps-status-wait" >#}
{#                    <div class="detail-font"> {% if worksheet_data.state_id == 1  %} 待重新申请 {% elif worksheet_data.state_id == 2  %} 工单已申请，待审核 {% elif worksheet_data.state_id == 3 %} 主管已确认，待认领 {% elif worksheet_data.state_id == 4 %} 运维已认领， 待执行  {% elif worksheet_data.state_id >= 5 %}完成 {% else %} 未知 {% endif %}</div>#}
{#                    <div class="btn-group" >#}
{#                        {% if is_revise %}#}
{#                            <a href="/worksheet/add/?worksheet_id={{ worksheet_data.worksheet_id}}" >#}
{#                                <button class="btn btn-md" type="button">修改</button>#}
{#                            </a>#}
{#                        {% endif %}#}
{#                        {% if is_leader %}#}
{#                            <button class="btn btn-md decision tl_reject" type="button" data-toggle="modal" data-position="100px" data-target="#myModal">打回</button>#}
{#                            <button class="btn btn-md decision tl_pass" data-toggle="modal" data-position="100px" data-target="#myModal">通过</button>#}
{#                        {% endif %}#}
{#                        {% if is_operator %}#}
{#                        <button class="btn btn-md decision ops_reject" type="button" data-toggle="modal" data-position="100px" data-target="#myModal">打回</button>#}
{#                        <button class="btn btn-md decision ops_pass" data-toggle="modal" data-position="100px" data-target="#myModal">认领</button>#}
{#                        {% endif %}#}
{#                        {% if is_operator_execute %}#}
{#                        <button class="btn btn-md decision ops_done" data-toggle="modal" data-position="100px" data-target="#myModal">完成</button>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
            </div>
        </article>

        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                        <h4 class="modal-title">标题</h4>
                    </div>
                    <div class="modal-body">
                        <p id="tips"></p>
                        <div id="reject-advice">
                            <label></label>
                            <textarea id="reject-reason" rows="5" class="form-control" autofocus></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="notSave" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" id="toSave" class="btn btn-primary" data-dismiss="modal">保存</button>
                    </div>
                </div>
            </div>
        </div>

        <article class="article-top">
            <div class="form-group">
                <div class="col-md-6">
                    <div class="detail-font">
                        发布申请内容
                    </div>
                    <table class="table table-hover table-bordered table-striped" >
                        <tbody>
                            <tr>
                                <td class="col-md-2">标题</td>
                                <td colspan='3'>xx</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">发布类型</td>
                                <td class="col-md-4">xx</td>
                                <td class="col-md-2">风险级别</td>
                                <td class="col-md-4">yy</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">开发人员</td>
                                <td class="col-md-4">xx</td>
                                <td class="col-md-2">自测</td>
                                <td class="col-md-4">已自测</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">测试人员</td>
                                <td class="col-md-4">xx</td>
                                <td class="col-md-2">产品经理</td>
                                <td class="col-md-4">yy</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">应用</td>
                                <td colspan='3'>xx</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">git地址</td>
                                <td colspan='3'>xx</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">发布级别</td>
                                <td class="col-md-4">xx</td>
                                <td class="col-md-2">上线时间</td>
                                <td class="col-md-4">yy</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">wiki连接</td>
                                <td colspan='3'>xx</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">jira连接</td>
                                <td colspan='3'>xx</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">修改模块</td>
                                <td colspan='3'>xx</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">注意事项</td>
                                <td colspan='3'>xx</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">修改内容</td>
                                <td colspan='3'>xx</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">测试环境</td>
                                <td colspan='3'>xx</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="detail-font">
                        日志
                    </div>
                    <table class="table table-hover table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th class="col-md-2">姓名</th>
                                <th class="col-md-3">时间</th>
                                <th class="col-md-2">状态</th>
                                <th >备注</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}