{% extends "headfoot.html" %}
{% block styles %}
<link href="/static/css/worksheet/details.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script charset="utf-8" src="/static/js/release_apply/details.js"></script>
{% endblock %}
{% block content %}
{% import "header.html" as header %}
{{ header.render() }}
<div id="main-content">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li>
                <a href="/"><i class="icon icon-home"></i> 主页</a>
            </li>
            <li>
                <a id="parent-bread" href="/">发布系统</a>
            </li>
            <li id="children-bread">发布详情</li>
        </ul>
    </div>
    <div id="page-content">
        <div class="page-header">
            <h1>
                发布详情
            </h1>
        </div>
        <article class="article-top article">
            <header>
                <dl class="dl-inline">
                    <dt>类型：</dt>
                    <dt>期望完成时间：</dt>
                </dl>
            </header>
            <div class="ant-steps article-top">
                <div class="ant-steps-item {% if step < 1 %}  ant-steps-status-wait {% elif step == 1 %}ant-steps-status-process {% elif step >1 %} ant-steps-status-finish {% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">1</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">申请</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
                <div class="ant-steps-item {% if step <2 %}  ant-steps-status-wait{% elif step ==2 %}ant-steps-status-process {% elif step > 2 %} ant-steps-status-finish{% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">2</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">审批</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
                <div class="ant-steps-item {% if step < 3 %}ant-steps-status-wait{% elif step ==3 %}ant-steps-status-process {% elif step > 3 %} ant-steps-status-finish {% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">3</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">构建</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
                <div class="ant-steps-item {% if step < 4 %}ant-steps-status-wait  {% elif step == 4 %}ant-steps-status-process {% elif step > 4 %} ant-steps-status-finish{% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">4</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">测试</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
                <div class="ant-steps-item {% if step < 5  %}ant-steps-status-wait {% elif step ==5 %}ant-steps-status-process {% elif step > 5 %} ant-steps-status-finish {% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">5</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">发布</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
                <div class="ant-steps-item {% if step < 6 %}ant-steps-status-wait {% elif step ==6 %}ant-steps-status-process {% endif %}" style="width: 150px;">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">6</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">完成</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
                <button id="last_action" class="hide" value="{{ last_action }}"></button>
                <button id="next_action" class="hide" value="{{ next_action }}"></button>
                <button id="release_apply_id" class="hide" value="{{ releaseapply_data.id }}"></button>
                <button id="step" class="hide" value="{{ step }}"></button>
                <div class="ant-steps-item ant-steps-status-wait" >
                    <div class="detail-font"> {{ release_apply_message }}</div>
                    <div class="btn-group" >
                        {% if step == 0 and releaseapply_data.applier_id == session['user_data']['user_id'] %}
                            <a href="/release_apply/add/release_apply/?release_apply_id={{ releaseapply_data.id}}" >
                                <button class="btn btn-md" type="button">修改</button>
                            </a>
                        {% elif step == 1 and releaseapply_data.waitting_confirmer_id == session['user_data']['user_id'] %}
                        <button class="btn btn-md decision reject" data-toggle="modal" data-position="100px" data-target="#myModal">打回</button>
                        <button class="btn btn-md decision pass" data-toggle="modal" data-position="100px" data-target="#myModal">通过</button>
                        {% elif step == 2 and releaseapply_data.waitting_confirmer_id == session['user_data']['user_id']%}
                        <button class="btn btn-md decision reject" data-toggle="modal" data-position="100px" data-target="#myModal">打回</button>
                        <button class="btn btn-md decision pass" data-toggle="modal" data-position="100px" data-target="#myModal">通过</button>
                        {% elif step == 3 and releaseapply_data.applier_id == session['user_data']['user_id'] %}
                        <button class="btn btn-md decision reject" data-toggle="modal" data-position="100px" data-target="#myModal">打回</button>
                        <button class="btn btn-md decision pass" data-toggle="modal" data-position="100px" data-target="#myModal">构建</button>
                        {% elif step == 4 and releaseapply_data.tester_id == session['user_data']['user_id'] %}
                        <button class="btn btn-md decision reject" data-toggle="modal" data-position="100px" data-target="#myModal">打回</button>
                        <button class="btn btn-md decision pass" data-toggle="modal" data-position="100px" data-target="#myModal">通过</button>
                        {% elif step == 5 and session['is_operator']%}
                        <button class="btn btn-md decision reject" data-toggle="modal" data-position="100px" data-target="#myModal">打回</button>
                        <button class="btn btn-md decision pass" data-toggle="modal" data-position="100px" data-target="#myModal">认领</button>
                        {% elif step == 6 and releaseapply_data.operator_id %}
                        <button class="btn btn-md decision reject" data-toggle="modal" data-position="100px" data-target="#myModal">打回</button>
                        <button class="btn btn-md decision pass" data-toggle="modal" data-position="100px" data-target="#myModal">执行</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                        <h4 class="modal-title">标题</h4>
                    </div>
                    <div class="modal-body">
                        <p id="tips"></p>
                        <div id="reject-advice">
                            <label></label>
                            <textarea id="reject-reason" rows="5" class="form-control" autofocus></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="notSave" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" id="toSave" class="btn btn-primary" data-dismiss="modal">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <article class="article-top">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="detail-font">
                        构建信息
                    </div>
                    <div id="built_info" style="border:1px solid rgb(221,221,221);height:20em;overflow:scroll;margin-bottom:2em">
                        <div id="xxx"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <div class="detail-font">
                        发布申请内容
                    </div>
                    <table class="table table-hover table-bordered table-striped" >
                        <tbody>
                            <tr>
                                <td class="col-md-2">标题</td>
                                <td colspan='3'>{{ releaseapply_data.title }}</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">发布类型</td>
                                <td class="col-md-4">{{ releaseapply_data.release_type or '' }}</td>
                                <td class="col-md-2">风险级别</td>
                                <td class="col-md-4">{{ releaseapply_data.risk_level }}</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">开发人员</td>
                                <td class="col-md-4">{{ releaseapply_data.applier.username or ''}}</td>
                                <td class="col-md-2">自测</td>
                                <td class="col-md-4">已自测</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">测试人员</td>
                                <td class="col-md-4">{{ releaseapply_data.tester.username or '' }}</td>
                                <td class="col-md-2">产品经理</td>
                                <td class="col-md-4">{{ releaseapply_data.producter.username or '' }}</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">应用</td>
                                <td colspan='3'>{{ releaseapply_data.application.name or '' }}</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">git地址</td>
                                <td colspan='3'>{{ releaseapply_data.application.git_url or '' }}</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">计划上线时间</td>
                                <td class="col-md-4">{{ releaseapply_data.planned_at or '' }}</td>
                                <td class="col-md-2">发布级别</td>
                                <td class="col-md-4">{{ releaseapply_data.deploy or '' }}</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">wiki连接</td>
                                <td colspan='3'>{{ releaseapply_data.wiki_url or '' }}</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">jira连接</td>
                                <td colspan='3'>{{ releaseapply_data.jira_url or '' }}</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">修改模块</td>
                                <td colspan='3'>{{ releaseapply_data.update_model or '' }}</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">注意事项</td>
                                <td colspan='3'>{{ releaseapply_data.attention or '' }}</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">修改内容</td>
                                <td colspan='3'>{{ releaseapply_data.update_content or '' }}</td>
                            </tr>
                            <tr>
                                <td class="col-md-2">测试环境</td>
                                <td colspan='3'>{{ releaseapply_data.memo or '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="detail-font">
                        日志
                    </div>
                    <table class="table table-hover table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th class="col-md-2">姓名</th>
                                <th class="col-md-3">时间</th>
                                <th class="col-md-2">状态</th>
                                <th >备注</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for data in releaseapplystate_list %}
                            <tr>
                                <td>{{ data.name }}</td>
                                <td>{{ data.created_at }}</td>
                                <td>{{ data.state }}</td>
                                <td>{{ data.content }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}