{% extends "headfoot.html" %}
{% block styles %}
<link href="/static/css/worksheet/details.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script charset="utf-8" src="/static/js/worksheet/details.js"></script>
{% endblock %}
{% block content %}
{% import "header.html" as header %}
{{ header.render() }}
<div id="main-content">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li>
                <a href="/"><i class="icon icon-home"></i> 主页</a>
            </li>
            <li>
                <a id="parent-bread" href="#">工单系统</a>
            </li>
            <li id="children-bread">工单详情</li>
        </ul>
    </div>
    <div id="page-content">
        <div class="page-header">
            <h1>
                工单详情
            </h1>
        </div>
        <article class="article-top article">
            <header>
                <dl class="dl-inline">
                    <dd>{{ worksheet_data.title }}</dd>
                    <dt>类型：</dt>
                    <dd>{{ worksheet_data.type_name }}</dd>
                    <dd><span class="label label-info">执行中</span></dd>
                    <dt>期望完成时间：</dt>
                    <dd>{{ worksheet_data.planned_at }}</dd>
                </dl>
            </header>
            <div class="ant-steps article-top">
                <div class="ant-steps-item {% if worksheet_data.state_id > 1 %} ant-steps-status-finish {% elif worksheet_data.state_id == 1 %}ant-steps-status-process {% elif worksheet_data.state_id < 1 %}ant-steps-status-wait {% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">1</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">申请</div>
                        <div class="ant-steps-description">{{ worksheet_data.apply_name }}</div>
                    </div>
                </div>
                <div class="ant-steps-item {% if worksheet_data.state_id > 2 %}  ant-steps-status-finish{% elif worksheet_data.state_id == 2 %}ant-steps-status-process {% elif worksheet_data.state_id < 2 %} ant-steps-status-wait {% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">2</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">审批</div>
                        <div class="ant-steps-description">{% if worksheet_data.state_id > 2  %}{{ worksheet_data.approver }} {% endif %}</div>
                    </div>
                </div>
                <div class="ant-steps-item {% if worksheet_data.state_id > 3 %} ant-steps-status-finish {% elif worksheet_data.state_id == 3 %}ant-steps-status-process {% elif worksheet_data.state_id < 3 %}ant-steps-status-wait {% endif %}" style="width: 150px;">
                    <div class="ant-steps-tail"><i></i></div>
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">3</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">执行</div>
                        <div class="ant-steps-description">{% if worksheet_data.state_id > 2  %}{{ worksheet_data.operator_name }}{% endif %}</div>
                    </div>
                </div>
                <div class="ant-steps-item {% if worksheet_data.state_id > 4 %} ant-steps-status-finish {% elif worksheet_data.state_id == 4 %}ant-steps-status-process {% elif worksheet_data.state_id < 4 %}ant-steps-status-wait {% endif %}" style="width: 150px;">
                    <div class="ant-steps-head">
                        <div class="ant-steps-head-inner">
                            <span class="ant-steps-icon">4</span></div>
                    </div>
                    <div class="ant-steps-main" style="max-width:100px;">
                        <div class="ant-steps-title">完成</div>
                        <div class="ant-steps-description"></div>
                    </div>
                </div>
                <div class="ant-steps-item ant-steps-status-wait" >
                    <div class="detail-font"> 工单已申请，待审核 </div>
                    <div class="btn-group" >
                        {% if is_revise %}
                            <a href="/worksheet/add/?worksheet_id={{ worksheet_data.worksheet_id}}">
                                <button class="btn btn-md decision" type="button" data-toggle="modal" data-position="100px" data-target="#myModal">修改</button>
                            </a>
                        {% endif %}
                        {% if is_leader %}
                            <button class="btn btn-md decision reject" type="button" data-toggle="modal" data-position="100px" data-target="#myModal">打回</button>
                            <button class="btn btn-md decision" data-toggle="modal" data-position="100px" data-target="#myModal">通过</button>
                        {% endif %}
                        {% if is_operator %}
                        <button class="btn btn-md decision" data-toggle="modal" data-position="100px" data-target="#myModal">认领</button>
                        {% endif %}
                        {% if is_operator_execute %}
                        <button class="btn btn-md decision" data-toggle="modal" data-position="100px" data-target="#myModal">完成</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>

        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                        <h4 class="modal-title">标题</h4>
                    </div>
                    <div class="modal-body">
                        <p id="tips">xxx</p>
                        <div id="reject-advice">
                            <label>请填写打回意见:</label>
                            <textarea id="content" name="content" rows="5" class="form-control" autofocus></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="notSave" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" id="toSave" class="btn btn-primary" data-dismiss="modal">保存</button>
                    </div>
                </div>
            </div>
        </div>

        <article class="article-top">
            <div class="form-group">
                <div class="col-md-5">
                    <div class="detail-font">
                        工单内容
                    </div>
                    <table class="table table-hover table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th class="col-md-2">条目</th>
                                <th>内容</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >标题</td>
                                <td >{{ worksheet_data.title }}</td>
                            </tr>
                            <tr>
                                <td >类型</td>
                                <td >{{ worksheet_data.type_name }}</td>
                            </tr>
                            <tr>
                                <td >申请人</td>
                                <td >{{ worksheet_data.apply_name }}</td>
                            </tr>
                            <tr>
                                <td >申请时间</td>
                                <td >{{ worksheet_data.created_at }}</td>
                            </tr>
                            <tr>
                                <td >期望完成时间</td>
                                <td >{{ worksheet_data.planned_at }}</td>
                            </tr>
                            <tr>
                                <td >描述：</td>
                                <td>{{ worksheet_data.content }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-7">
                    <div class="detail-font">
                        日志
                    </div>
                    <table class="table table-hover table-bordered table-striped" >
                        <thead>
                            <tr>
                                <th class="col-md-1">姓名</th>
                                <th class="col-md-2">时间</th>
                                <th class="col-md-2">状态</th>
                                <th >备注</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for data in worksheetstate_list %}
                            <tr>
                                <td>{{ data.name }}</td>
                                <td>{{ data.created_at }}</td>
                                <td>{{ data.state }}</td>
                                <td>{{ data.content }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}