{% extends "headfoot.html" %}
{% block styles %}
<style>
    .article-top{
        padding-top: 20px;
    }
</style>
{% endblock %}
{% block scripts %}
<script>
    $(".form-date").datetimepicker({
        language:  "zh-CN",
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: "yyyy-mm-dd"
    });

    var title = '';
    var apply_name = '';
    var operator_id = '';
    var worksheet_type_id = '';
    var status = '';
    var start_time = '';
    var end_time = '';
    var page_num = '';
    var myworksheet_status = '';

    function adjust_pager(page_num,page_count){
        $(".btn-pager").show().removeClass("btn-primary disabled");
        if (page_count == 1 || page_count == 0){
            $("#first").addClass("disabled");
            $("#previous").addClass("disabled");
            $("#ppage").text(1).addClass("btn-primary");
            $("#cpage").hide();
            $("#npage").hide();
            $("#next").addClass("disabled");
            $("#last").addClass("disabled");
        }else if (page_count == 2){
            $("#first").addClass("disabled");
            $("#previous").addClass("disabled");
            if (page_num == 1){
                $("#ppage").text(1).addClass("btn-primary");
                $("#cpage").text(2);
            }else{
                $("#ppage").text(1);
                $("#cpage").text(2).addClass("btn-primary");
            }
            $("#npage").hide();
            $("#next").addClass("disabled");
            $("#last").addClass("disabled");
        }else if (page_count == 3){
            if (page_num == 1){
                $("#first").addClass("disabled");
                $("#previous").addClass("disabled");
                $("#ppage").text(1).addClass("btn-primary");
                $("#cpage").text(2);
                $("#npage").text(3);
            }else if (page_num == 2){
                $("#ppage").text(1);
                $("#cpage").text(2).addClass("btn-primary");
                $("#npage").text(3);
            }else {
                $("#ppage").text(1);
                $("#cpage").text(2);
                $("#npage").text(3).addClass("btn-primary");
                $("#next").addClass("disabled");
                $("#last").addClass("disabled");
            }
        }else if (page_count > 3){
            if ( page_num ==1 ) {
                $("#first").addClass("disabled");
                $("#previous").addClass("disabled");
                $("#ppage").text(1).addClass("btn-primary");
                $("#cpage").text(2);
                $("#npage").text(3);
            }else if (page_num == page_count) {
                $("#ppage").text(page_count-2);
                $("#cpage").text(page_count-1);
                $("#npage").text(page_count).addClass("btn-primary");
                $("#next").addClass("disabled");
                $("#last").addClass("disabled");
            }else {
                $("#ppage").text(page_num-1);
                $("#cpage").text(page_num).addClass("btn-primary");
                $("#npage").text(page_num+1);
            }
        }
    }

    function ajax_post(title,apply_name,operator_id,worksheet_type_id,status,start_time,end_time,page_num,myworksheet_status){
        var post_data = {};
        if(title){post_data['title']=title;}
        if(apply_name){post_data['apply_name']=apply_name;}
        if(operator_id){post_data['operator_id']=operator_id;}
        if(worksheet_type_id){post_data['worksheet_type_id']=worksheet_type_id;}
        if(start_time){post_data['start_time']=start_time;}
        if(end_time){post_data['end_time']=end_time;}
        if(status){post_data['status']=status;}
        if(page_num){post_data['page_num']=page_num;}
        if(myworksheet_status){post_data['myworksheet_status']=myworksheet_status;}

        $.post("/worksheet/search_worksheet/", post_data, function(result){
            if (result.status == 200) {
                page_num = result.data.page_num;
                page_count = result.data.page_count;
                adjust_pager(page_num, page_count);
                $("table.nohide tbody").empty();
                if (result.data.total == 0){
                    $("table.hide .template0").clone().appendTo($("table.nohide tbody"));
                    $("table.nohide .template0").removeClass("template0");
                }else{
                    var worksheet_list_item = '';
                    for(i=0; i<result.data.worksheet_list.length; i++){
                        var temp = $("table.hide .template").clone();
                        worksheet_list_item =  result.data.worksheet_list[i];
                        temp.find(".title").text(worksheet_list_item.title);
                        temp.find(".type").text(worksheet_list_item.worksheet_type);
                        temp.find(".state").text(worksheet_list_item.status);
                        temp.find(".applytime").text(worksheet_list_item.apply_time);
                        temp.find(".finishtime").text(worksheet_list_item.end_time);
                        temp.find(".applyname").text(worksheet_list_item.apply_name);
                        temp.find(".opsname").text(worksheet_list_item.operator_name);
                        temp.find("a").attr("href","/worksheet/details/"+worksheet_list_item.worksheet_id);
                        temp.appendTo($("table.nohide tbody"));
                        $("table.nohide .template").removeClass("template");
                    }
                }
            }
        }, "json");
    }

    $("input#submit").click(function(){
        title = $.trim($("#title").val());
        apply_name = $.trim($("#applyname").val());
        operator_id = $.trim($("#opsname").val());
        worksheet_type_id = $.trim($("#type").val());
        status = $.trim($("#state").val());
        start_time = $.trim($("#starttime").val());
        end_time = $.trim($("#endtime").val());
        myworksheet_status = '';
        page_num = 1;
        ajax_post(title,apply_name,operator_id,worksheet_type_id,status,start_time,end_time,page_num,myworksheet_status);
    });

    $(".aboutme").click(function(){
        var this_button = $(this);
        title = '';
        apply_name = '';
        operator_id = '';
        worksheet_type_id = '';
        status = '';
        start_time = '';
        end_time = '';
        page_num = 1;
        myworksheet_status = this_button.val();
        ajax_post(title,apply_name,operator_id,worksheet_type_id,status,start_time,end_time,page_num,myworksheet_status);
    });

    $(".btn-pager").click(function () {
        var this_button = $(this);
        var this_text = this_button.text();
        if (this_text == "<<") {
            page_num = 1;
        }else if (this_text == "<") {
            page_num = page_num-1;
        }else if (this_text == ">") {
            page_num = page_num+1;
        }else if (this_text== ">>") {
            page_num = page_count;
        }else {
            page_num = this_text;
        }
        ajax_post(title,apply_name,operator_id,worksheet_type_id,status,start_time,end_time,page_num,myworksheet_status);
    });

    ajax_post(title,apply_name,operator_id,worksheet_type_id,status,start_time,end_time,1,myworksheet_status);
</script>
{% endblock %}
{% block content %}
{% import "header.html" as header %}
{{ header.render() }}
<div id="main-content">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li>
                <a href="/"><i class="icon icon-home"></i>主页</a>
            </li>
            <li>
                <a id="parent-bread" href="#">工单系统</a>
            </li>
            <li id="children-bread" >工单列表</li>
        </ul>
    </div>
    <div id="page-content">
        <div class="page-header">
            <h1>
                工单列表
            </h1>
        </div>

        <article class="article-top">
            <form class="form-horizontal" role="form" method='post'>
                <div class="form-group">
                    <label class="col-md-1 control-label">标题</label>
                    <div class="col-md-2">
                        <input type='text' name='title' id='title' value='' class='form-control' />
                    </div>
                    <label class="col-md-1 control-label">申请人</label>
                    <div class="col-md-2">
                        <input type='text' name='applyname' id='applyname' value='' class='form-control' />
                    </div>
                    <label class="col-md-1 control-label">运维人员</label>
                    <div class="col-md-2">
                        <select name='opsname' id='opsname' class='form-control'>
                            <option value=''>全部</option>
                            <option value='0'>刘文彬</option>
                            <option value='1'>徐丰甜</option>
                            <option value='2'>贾晓辉</option>
                            <option value='3'>时磊</option>
                            <option value='4'>皇甫泽鹏</option>
                        </select>
                    </div>
                    <label class="col-md-1 control-label">类型</label>
                    <div class="col-md-2">
                        <select name='type' id='type' class='form-control'>
                            <option value=''>全部</option>
                            <option value='0'>申请ECS服务器</option>
                            <option value='1'>申请RDS服务器</option>
                            <option value='2'>申请SLB负载均衡</option>
                            <option value='3'>ECS配置变更</option>
                            <option value='4'>RDS配置变更</option>
                            <option value='5'>SLB配置变更</option>
                            <option value='6'>反向代理配置</option>
                            <option value='7'>SQL执行</option>
                            <option value='8'>白名单添加</option>
                            <option value='9'>表库迁移</option>
                            <option value='10'>数据库创建</option>
                            <option value='11'>域名申请</option>
                            <option value='12'>域名变更</option>
                            <option value='13'>CDN加速</option>
                            <option value='14'>新增应用</option>
                            <option value='15'>应用下线</option>
                            <option value='16'>其他</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label">状态</label>
                    <div class="col-md-2">
                        <select name='state' id='state' class='form-control'>
                            <option value='0'>全部</option>
                            <option value='1'>待审核</option>
                            <option value='2'>待认领</option>
                            <option value='3'>待执行</option>
                            <option value='4'>已完成</option>
                            <option value='5'>已打回</option>
                            <option value='6'>已关闭</option>
                        </select>
                    </div>
                    <label class="col-md-1 control-label">申请的时间范围</label>
                    <div class="col-md-2">
                        <div class="input-group date form-date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" name="starttime" id="starttime" value="" readonly="">
                            <span class="input-group-addon"><span class="icon-remove"></span></span>
                            <span class="input-group-addon"><span class="icon-calendar"></span></span>
                        </div>
                    </div>
                    <label class="col-md-1 control-label">至</label>
                    <div class="col-md-2">
                        <div class="input-group date form-date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input class="form-control" size="16" type="text" name="endtime" id="endtime" value="" readonly="">
                            <span class="input-group-addon"><span class="icon-remove"></span></span>
                            <span class="input-group-addon"><span class="icon-calendar"></span></span>
                        </div>
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <input type='button' id='submit' class='btn btn-primary' value='查询' data-loading-text="正在加载..." />
                    </div>
                </div>
            </form>

            <div style="float:right">
                <button class="btn btn-default aboutme" type="button" id="myapplication" value="1">我的申请</button>
                <button class="btn btn-default aboutme" type="button" id="myapproval" value="2">我的审批</button>
                <button class="btn btn-default aboutme" type="button" id="myexecution" value="3">我的执行</button>
            </div>

            <table class="nohide table table-bordered" style="margin-top: 60px">
                <thead>
                    <tr>
                        <th class="col-md-2">标题</th>
                        <th class="col-md-2">类型</th>
                        <th class="col-md-1">状态</th>
                        <th class="col-md-2">申请时间</th>
                        <th class="col-md-2">完成时间</th>
                        <th class="col-md-1">申请人</th>
                        <th class="col-md-1">运维人员</th>
                        <th class="col-md-1">操作</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div class="btn-group" style="float: right">
                <button id="first" class="btn btn-md btn-pager"><<</button>
                <button id="previous" class="btn btn-md btn-pager"><</button>
                <button id="ppage" class="btn btn-md btn-pager btn-primary">1</button>
                <button id="cpage" class="btn btn-md btn-pager">2</button>
                <button id="npage" class="btn btn-md btn-pager">3</button>
                <button id="next" class="btn btn-md btn-pager">></button>
                <button id="last" class="btn btn-md btn-pager">>></button>
            </div>

        </article>
    </div>
    <table class="hide">
        <tr class="template">
            <td class="title"></td>
            <td class="type"></td>
            <td class="state"></td>
            <td class="applytime"></td>
            <td class="finishtime"></td>
            <td class="applyname"></td>
            <td class="opsname"></td>
            <td class="detail">
                <a href=""><button class="btn btn-sm" type="button">详情</button></a>
            </td>
        </tr>
    </table>
    <table class="hide">
        <tr class="template0">
            <td colspan="8" align="center">sorry!没有您查询的数据.</td>
        </tr>
    </table>
</div>
{% endblock %}