{% extends "headfoot.html" %}
{% block styles %}
<style>
    .card {
        padding:10px;
    }

    a {
        color: #333;
    }

    a:hover {
        text-decoration: none;
        color: #333
    }
</style>
{% endblock %}
{% block scripts %}
<script charset="utf-8" src="/static/js/worksheet/taskpad.js"></script>
{% endblock %}
{% block content %}
    {% import "header.html" as header %}
    {{ header.render() }}
    <div id="main-content">
        <div id="breadcrumb">
            <ul class="breadcrumb">
                <li>
                    <a href="/"><i class="icon icon-home"></i> 主页</a>
                </li>
                <li>
                    <a id="parent-bread" href="#">工单系统</a>
                </li>
                <li id="children-bread">任务看板</li>
            </ul>
        </div>
        <div id="page-content">
            <div class="page-header">
                <h1>
                    任务看板
                </h1>
            </div>
            <div>
                <button class="btn btn-default task" type="button" value="">全部任务</button>
                <button class="btn btn-default task" type="button" value="own">我的任务</button>
            </div>
            <article>
                <div class="list">
                    <section id="cards" class="cards">
                        <!--{% for data in worksheet_list %}-->
                            <!--<div class="col-md-3 col-sm-6 col-lg-2">-->
                                <!--<a href="/worksheet/details/{{ data.worksheet_id }}" class="">-->
                                    <!--<div class="card">-->
                                        <!--<div class="taskpad_content">标题: {{ data.title }}</div>-->
                                        <!--<div class="taskpad_content">类型： {{ data.worksheet_type }}</div>-->
                                        <!--<div class="taskpad_content">申请人： {{ data.apply_name }}</div>-->
                                        <!--<div class="taskpad_content">申请时间：{{ data.created_at }}</div>-->
                                        <!--<div class="taskpad_content">期望完成时间：{{ data.planned_at }}</div>-->
                                        <!--<div class="taskpad_content ws_state" style="color:green;font-weight:bold"> {{ data.status }}</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--{% endfor %}-->
                    </section>
                    <!--<footer>-->
                        <!--<ul class="pager pager-justify pager-pills">-->
                            <!--<li class="previous {% if not previous_page %} disabled {% endif %}"><a href="{% if not previous_page %}#{% else %}/worksheet/taskpad/?page_num={{ previous_page }}{% endif %}">« 上一页</a></li>-->
                            <!--<li class="next {% if not next_page %} disabled {% endif %}"><a href="{% if not previous_page %}#{% else %}/worksheet/taskpad/?page_num={{ previous_page }}{% endif %}">下一页 »</a></li>-->
                        <!--</ul>-->
                    <!--</footer>-->
                </div>
                <div class="btn-group" style="float: right">
                    <button id="first" class="btn btn-md btn-pager"><<</button>
                    <button id="previous" class="btn btn-md btn-pager"><</button>
                    <button id="ppage" class="btn btn-md btn-pager btn-primary">1</button>
                    <button id="cpage" class="btn btn-md btn-pager">2</button>
                    <button id="npage" class="btn btn-md btn-pager">3</button>
                    <button id="next" class="btn btn-md btn-pager">></button>
                    <button id="last" class="btn btn-md btn-pager">>></button>
                </div>
            </article>
        </div>
        <div class="hide">
            <div class="template col-md-3 col-sm-6 col-lg-2">
                <a href="/worksheet/details/" class="">
                    <div class="card">
                        <div class="taskpad_content title">标题: </div>
                        <div class="taskpad_content type">类型： </div>
                        <div class="taskpad_content applyname">申请人： </div>
                        <div class="taskpad_content applytime">申请时间：</div>
                        <div class="taskpad_content finishtime">期望完成时间：</div>
                        <div class="taskpad_content state" style="color:green;font-weight:bold"> </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}